# Include the config files
include vacuumworld/config.json
include vacuumworld/res/buttons.json

# Include the relevant images
include vacuumworld/res/*.png
include vacuumworld/res/locations/agent/*.png
include vacuumworld/res/locations/dirt/*.png

# Include the README
include *.md

# Include the license file
include LICENSE

# Include py.typed
include vacuumworld/py.typed
